
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* /overflow: hidden;은 넘어가지방지 */
}

/* 고정시킬때는 px 유동적으로 움직일라면 vh % */
/* body {
  width: 94%; 전체 바디 크기 줄이기
} */
/* ------검색바------------------------- */
.search-input {
  margin-left: 10px;
  position: relative;
  width: 92%;
  height: 50px;
  font-size: 18px;
  text-indent: 50px;
  background-color: #fafafa;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.14);
  max-height: 40px;
}

.search-input::placeholder {
  padding-left: 2px;
  font-size: 18px;
}



/* -----아이콘-------- */

.icon {
  position: absolute;
  left: 30px;
  top: 21px;
  
  z-index: 1;
  
 
  touch-action: none;
  user-select: none;
  
}

.icon svg {
  font-size: 20px;
}









/* --로고------------------------------------------------- */

.logo-image {
  opacity: 1;
  width: 88px ;
  height: 30px ;
  transition: opacity 1s ease-out;
  position:absolute;
  top:18px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  pointer-events: none;
}










/* ===버튼================ */

.button-container {
  /* margin-left: 2vh; */
  
  width: 92%;
  left: 60px;
  margin-left: 8px;
  

  
}

button {
  color: rgb(255, 255, 255);
  background-color: rgb(78, 88, 105);
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 16px;
  margin-right: 5px;
  
  border-radius: 10px;
  font-size: 12px;
  
  
  
}



/* 숨김버튼 */
.toggle-button {
  background-color: #574c5e;
  color: #fff;
  padding:  8px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;

}


button {
  /* white-space: pre-wrap; 버튼줄넘김 */
  margin-bottom:3px;
}


.칸띄우기 {
  
}

.버튼검색이름 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #767fff;

  
}












/* --테이블--------------------------- */
.table-container {
  margin-left: 10px;
  width: 94%;
  max-width: 100%; /* 최대 가로 너비 */
  height: 50px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* 셀 크기 고정 가로 화면 안넘어가게*/
}

table th, table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  overflow-wrap: break-word; /* 줄바꿈 적용 */
  word-wrap: break-word;
}

table th {
  background-color: #a2b1be;
  position: sticky;
  top: 0;
  height: 15px;
  
  /* 테이블 머리 부분 */
  
  
}
table tr.selected {
  background-color: rgb(166, 167, 240);
  color: rgb(255, 255, 255);
}
/* 선택됬을때 이미지 */

/* 각 열의 너비 조절 */
table th:nth-of-type(1), table td:nth-of-type(1) {
  width: 20%;
}

table th:nth-of-type(2), table td:nth-of-type(2) {
  width: 40%;
}

table th:nth-of-type(3), table td:nth-of-type(3) {
  width: 20%;
}



.병건 {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
 
  box-shadow: 0 0 10px #ddd;
  width: 91%;
  /* height: 30vh; */
  overflow-y: auto;
  position: relative;
  left: 5px;
  
  
}

.병건 p {
  margin-bottom: 3px;
  font-size: 16px;
  border-bottom: 4px solid #ddd;
  padding-bottom: 10px;
  font-weight: bold;
 
}
.병건 a {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
  white-space: pre-wrap; 
    /* 줄 바꾸기 */

  

}


.병건 p:last-child {
  border-bottom: none;
}/* 병건의 p에 마지막 자식을 설정하는것 */




/* .실린더 {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ff0000;
  outline: none;
} */
/* .실린더 {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
} */
/* 
.실린더 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
} */

.box {
  display: flex;
  
  margin: 10px 0;
  width: 100%;
}



.container-3 {
  position: relative;
  width: 100%;
}







.fade-out-image {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

